<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
    <title>Write It Out</title>
  </head>
  <body class="background">
    <div id="toolbar" class="main-toolbar">
      <button type="button" value="level" name="button">Level</button>
      <select id="levelSelector" name="levelCombo">
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="text">Normal Text</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option>
        <option value="6">Level 6</option>
      </select>
      <button type="button" title="De-Indent" value="minusIndent" name="button"><</button>
      <button type="button" title="Indent" value="plusIndent" name="button">></button>
      <a id="saveState" class="notsaved">Not Saved!</a>
      <button type="button" title="Delete Document" id="deleteDoc" value="docDelete" name="button">X</button>
      <select id="fileCbb" class="hidden" name="fileCombo"></select>
      <!--<button type="button" id="bold" value="bold">Bold</button>
      <button type="button" id="italic" value="italic">Italic</button>
      <button type="button" id="underline" value="underline">Underline</button>
      <button type="button" id="strikeThrough" value="strike">StrikeThrough</button>
      <select id="fontSize">
        <option value="font,1">10</option>
        <option value="font,2">12</option>
        <option value="font,3">14</option>
        <option value="font,4">16</option>
        <option value="font,5">18</option>
        <option value="font,6">20</option>
        <option value="font,7">22</option>
      </select>
      <button type="button" id="e">Bold</button>
      <button type="button" id="f">Bold</button>
      <button type="button" id="g">Bold</button>
      <button type="button" id="h">Bold</button> -->
      <a id="logoutButton" class="hidden" href="./login.html"><button type="button" name="button">Logout</button></a>
      <a id="loginButton" href="./login.html"><button type="button" name="button">Login</button></a>
    </div>
    <!--<input id="title" class="main-title" value="New Document"/>-->
    <div class="container">
      <div id="editor" class="main-editor" contenteditable="true"></div>
      </div>
    </div>
  </body>
  <script src="/js/events.js"></script>
  <script src="/js/commands.js"></script>
  <script src="/js/classes.js"></script>
</html>
