<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <title>Write It Out</title>
  </head>
  <body class="background">
    <div id="toolbar" class="main-toolbar">
      <button type="button" value="level" name="button">Apply Textual Point</button>
      <select id="levelSelector" name="levelCombo">
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="text">Normal Text</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option>
        <option value="6">Level 6</option>
      </select>
      <button type="button" title="De-Indent" value="minusIndent" name="button"><</button>
      <button type="button" title="Indent" value="plusIndent" name="button">></button>
      <a id="saveState" class="notsaved">Not Saved!</a>

      <button type="button" class="hidden" title="Create new Document" id="createDoc" value="newDoc" name="button">New Doc</button>
      <button type="button" title="Force save the Document" id="updateDoc" value="saveDoc" name="button">Force Save</button>
      <button type="button" class="hidden" title="Rename the Document" id="alterDoc" value="renameDoc" name="button">Rename Doc</button>
      <button type="button" title="Delete Document" id="deleteDoc" value="docDelete" name="button">Delete Doc</button>

      <select id="fileCbb" class="hidden" name="fileCombo"></select>
      <button id="logoutButton" class="hidden" type="button" value="logout" name="button">Logout</button>
      <a id="loginButton" href="./login.html"><button type="button" name="button">Login</button></a>
    </div>

    <div class="container">
      <div id="editor" class="main-editor" contenteditable="true"></div>
      </div>
    </div>
    <script src="/js/globals.js"></script>
    <script src="/js/events.js"></script>
    <script src="/js/commands.js"></script>
    <script src="/js/classes.js"></script>
    <script type="text/javascript">
      afterLoad();
    </script>
  </body>
</html>
